{%extends 'base.html' %}
{% block content %}
{{block.super }}

    <div class="container">
        <!-- looping through images -->
        <div class="row">
            {% for images_item in images %}
            <div class="col-md-4">
                <span>
                    {{ images_item.image_name }}
                    {{ images_item.image_descrption }}
                    <img src="{{images_item.image_pics.url}}" class="img-responsive" alt="Image">
                    <a href='{% url "single_image" images_item.id %}'><h5>view</h5></a>
                </span>
            </div>
            {% endfor %}
        </div>
        
    </div>
{% endblock %}