{%extends 'base.html' %}
{% block content %}
{{block.super }}    
    <diV class="container">
        <div class="card-deck">
            {% for images_item in images %}
                <div class="card">
                    <img src="{{ images_item.image_pics.url}}" class="card-img-top" alt="image">
                    <div class="card-body">
                        <h5 class="card-title">{{images_item.image_name}}</h5>
                        <a class="card-text" href='{% url "single_image" images_item.id %}'><p class="card-text">views</p></a>
                        <a class="card-text" href='{% url "single_image" images_item.id %}'><p class="card-text">Details</p></a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{images_item.pub_date}}</small>
                    </div>
                </div>
            {% endfor %}
        </div>

    </diV>

{% endblock %}